{% extends "base.html" %}
{% block title %} Task {% endblock %}

{% block content %}
<div class="task-box">
    <h2>Your Task</h2>
    <form action="{{ url_for('tasks.add_task') }}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="New task" required>
        <button type="submit" class="btn">Add</button>
    </form>

    {% if tasks %}
    <form action="{{ url_for('tasks.clear_all') }}" method="POST">
        <button type="submit" class="btn btn-clear">Clear All Tasks</button>
    </form>
    <br>
    <table class="task-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>
                    <span class="badge badge-{{ task.status|lower }}">
                        {{ task.status }}
                    </span>
                </td>
                <td class="task-actions">
                    <form action="{{url_for('tasks.toggle_status', task_id=task.id)}}" method="POST" style="display:inline;">
                        <button type="submit" class="btn-action btn-next" title="Next Status">
                            ▶
                        </button>
                    </form>
                    <form action="{{url_for('tasks.update_task', task_id=task.id)}}" method="GET" style="display:inline;">
                        <button type="submit" class="btn-action btn-edit" title="Edit Task">
                            ✎
                        </button>
                    </form>
                    <form action="{{url_for('tasks.delete_task', task_id=task.id)}}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure?');">
                        <button type="submit" class="btn-action btn-delete" title="Delete Task">
                            ✕
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tasks available. Add a new task above.</p>
    {% endif %}
    
</div>
{% endblock %}